* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.taartely-title{
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
}

.taartely-title1{
    color: #ffffff;
    font-size: 14px;
}

.p-18{
    font-size: 16px;
}

.p-16{
    font-size: 14px;
}
.p-20{
    font-size: 20px;
}
.p-22{
    font-size: 22px;
}
.p-40{
    font-size: 40px;
}
.p-55   {
    font-size: 55px;
}
.taartely-paragraph{
    font-size: 14px;
    color: #585767;
}

.taartely-paragraph16{
    font-size: 16px;
    color: #373639;
}
.taartely-white{
    color: #fffafb;
}
.taartely-color-1{
    color: #9E1545;
}

.taartely-color-2{
    color: #47464a;
}

.taartely-color-3{
    color: #484647;
}

.container-mx-12-rem{
    margin-left: 12rem;
    margin-right: 12rem;    
}

.bg-jumbotron{
    background-color: #9E1545;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-section{
    background-color: #FBF3F4;
}

.taartely-border-top{
    border-top: 1px solid #700a2e;
}
.taartely-border{
    border: 1px solid #700a2e;
}

.container-mx-7-rem{
    margin-left: 7rem;
    margin-right: 7rem;
}
.taartely-shadow{
    border-radius: 5px;
}

.taartely-button{
    background-color: #9E1545;
    border-radius: 30px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}   

.taartely-button1{
    background-color: #ffffff;
    border-radius: 30px;
    font-size: 14px;
    color: #373639;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}  

.taartely-button-login{
    background-color: #9E1545;
    border-radius: 30px;
    font-size: 14px;
    color: #ffffff;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}  

.navbar-background{
        background-color: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
}

.bg-footer{
    background-color: #9E1545;
}

footer p {
    margin-bottom: 4px;
}

.align{
    text-align: justify;
}

.layer2 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

/* ! DO NOT TOUCH, EDIT, OR DELETE */
trix-toolbar [data-trix-button-group='file-tools']{
    display: none;
}


.zoom {
    padding: 30px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }